body {
    background:
    linear-gradient(
      #7B83EB, 
      #505AC9
    );
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    border-color: #505AC9;
}

* {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans;
    letter-spacing: 0.5px;
    margin: 0;
    padding: 0;
}
